<div class="container" style="background-color: rgb(248, 248, 248);">
    <h1 style= "color: rgba(9, 43, 238, 0.603)" style="margin-left: 300px;">Reset your password?</h1>
    <form class="form-horizontal" [formGroup]="complexForm">
         <!-- <input type="hidden" [(ngModel)] = "resetpassword.id" name="id" formControlName="id"/> -->

    <div class="form-group" >
            <label class="control-label col-sm-2">OTP</label>
                    <div class="col-sm-6">
                    <input required="required" type="text" [(ngModel)] = "resetpassword.otp" name = "otp" formControlName = "otp" class="form-control" placeholder="Enter OTP number" />
                    <span *ngIf="complexForm.get('otp')?.hasError('minlength')">Enter valid OTP</span>    
                    </div>    
         </div>
    <div class="form-group">
                    <label class="control-label col-sm-2">New Password</label>
                    <div class="col-sm-6">

                            <input required="required" type = "password" [(ngModel)] = "resetpassword.password"  name = "password"  formControlName = "password" class="form-control"  placeholder="Enter your new Password" required/>
                            <span *ngIf="complexForm.get('password')?.hasError('minlength')">Password minLength is 6!</span>
                            
                    </div>    
        </div> 
    
    <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="submit"    (click) = "resetpasswordnew()"  [disabled]="complexForm.invalid" class = "btn btn-primary" style="font-size: 15px; font-weight: 700; border-color: rgb(253, 61, 54); text-align: center; color:black; background-color:rgb(120, 178, 245);" >Reset Password</button>
                        <button type="submit"  routerLink="/"  class = "btn btn-primary" style="font-size: 15px; font-weight: 700; border-color: rgb(253, 61, 54); text-align: center; color:black; background-color:rgb(120, 178, 245);" >Cancel</button>
                    </div>
                </div> 
    <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        
                        <!-- <a routerLink="/" >Login here!</a> -->
                   <!-- <button  class = "btn btn-primary" style="font-size: 15px; font-weight: 700;  border-color: rgb(253, 61, 54); text-align: center; color:black; background-color:rgb(120, 178, 245);" >Reset Password</button>  -->
                    </div>
                </div> 
                  
    </form> 

</div>
        


      


